<div class="jumbotron jumbotron-fluid">
    <div class="container2">
        <h1 class="display-4">Eat-Da-Burger</h1>
        <p class="lead">Add a burger to devour later.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <img src="/img/burger1.png" class="burger" alt="A big juicy burger">
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul>
                {{#each burger}}
                {{#unless devoured}}
                <li>{{this.id}}. {{this.burger_name}} <a href="#" idOfburger={{this.id}}
                        class="btn btn-primary devour-btn">Devour It!</a></li>

                {{/unless}}
                {{/each}}
            </ul>
        </div>


        <div class="col-md-6">
            <ul>
                {{#each burger}}
                {{#if devoured}}
                <li>{{this.id}}. {{this.burger_name}}</li>
                {{/if}}

                {{/each}}
            </ul>
        </div>
    </div>


    <div class="row">
        <h2>Add A Burger</h2>
    </div>

    <div class="row">
        <form class="create-form">

            <div class="form-group">
                <label for="ca">Burger Name:</label>
                <input type="text" id="burgerInput" name="name">
            </div>


            <button type="submit" id="addBurgerbtn">Add Burger</button>

        </form>

    </div>
    <br><br><br>
    <div class="row">
        <div class="footer">
            <p>BURGER APP</p>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".devour-btn").click(function (event) {
            event.preventDefault()
            var burgerId = $(this).attr("idOfburger")
            $.post("/devour", { burgerId }, function (data) {
                location.reload()
            })
        })
        $("#addBurgerbtn").click(function (event) {
            event.preventDefault()
            var burgerAdded = $("#burgerInput").val().trim()
            $.post("/insertBurger", { burgerAdded }, function (data) {
                location.reload()
            })
        })
    }

    )



</script>